/* app/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  @layer base {
    body {
      @apply overflow-x-hidden;
    }
  }
  

@layer utilities {
    .icon-gradient {
      background: linear-gradient(130deg, #5AFB48, #1BDBC5);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-size: contain;
      mask-size: contain;
      display: inline-block;
      width: 80px;
      height: 80px;
      filter: drop-shadow(0 0 4px rgba(91, 102, 103, 0.8));
      transition: background-size 1s ease, transform 1s ease;
    }
    /* For md and above, revert back to the original size */
  @screen md {
    .icon-gradient {
      width: 50px;
      height: 50px;
    }
  }
  
    @keyframes ripple {
      0% {
        background-size: 100%;
        transform: scale(1);
      }
      50% {
        background-size: 150%;
        transform: scale(1.1);
      }
      100% {
        background-size: 100%;
        transform: scale(1);
      }
    }
  
    .animate-ripple {
      animation: ripple 1s ease-out forwards;
    }
  }

  @layer utilities {
    .icon-green {
      background: #C9FC01;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-size: contain;
      mask-size: contain;
      display: inline-block;
      /* Mobile sizes (default) */
      width: 36px;
      height: 36px;
    }
  
    @screen md {
      .icon-green {
        /* Desktop sizes */
        width: 30px;
        height: 30px;
      }
    }
  }
  